*.swp
install.log

# suckless
/suckless/st/st
/suckless/st/*.o
/suckless/st/*.orig
/suckless/st/*.rej

/suckless/dwm/dwm
/suckless/dwm/*.o
/suckless/dwm/*.orig
/suckless/dwm/*.rej

/suckless/dmenu/stest
/suckless/dmenu/dmenu
/suckless/dmenu/*.o
/suckless/dmenu/*.orig
/suckless/dmenu/*.rej

shell/extra.sh

xfce.config/

# xfce.config/VirtualBox/
# xfce.config/xfce4/desktop/
# xfce.config/dconf/
# xfce.config/ibus/
# xfce.config/pulse/
# xfce.config/teamviewer/
# xfce.config/google-chrome/
# xfce.config/kingsoft/
# xfce.config/Kingsoft/
# xfce.config/Synopsys/
# xfce.config/QtProject/
# xfce.config/remmina/
# xfce.config/bcompare/
# xfce.config/ristretto/
# xfce.config/freerdp/
# xfce.config/coc/
# xfce.config/Thunar/
# xfce.config/Trolltech.conf
# xfce.config/vlc/vlc-qt-interface.conf
# 
# xfce.config/fcitx/clipboard/
# xfce.config/fcitx/data/
# xfce.config/fcitx/pinyin/
# xfce.config/fcitx/dbus/
# xfce.config/fcitx/log/
# xfce.config/fcitx/cached_layout
# xfce.config/fcitx/profile_*
